apiVersion: v1
kind: Service
metadata:
  name: {{ include "reticulum.fullname" . }}
  labels:
    {{- include "reticulum.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  clusterIP: None
  ports:
    - name: http-reticulum
      port: 4001
      targetPort: 4001
    - name: https-reticulum
      port: 4000
      targetPort: 4000
  selector:
    {{- include "reticulum.selectorLabels" . | nindent 4 }}
